@model E_Muzyka.Pagination.PaginatedList<E_Muzyka.ModelDTO.AlbumDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Albumy</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Filtruj: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Szukaj" class="btn buttonLogin text-white" /> |
            <a class="btn buttonLogin text-white" asp-action="Index"> Wróć</a>
        </p>
    </div>
</form>
@if (Model.Count > 0)
{
    <table class="table">
        <thead class="tableColor text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name) - @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        <a class="btn buttonDetails text-white" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                        <a class="btn buttonDetails text-white" asp-action="ShowAlbumsTracks" asp-route-id="@item.Id">Utwory</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger">Brak albumów</h1>
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn buttonLogin text-white @prevDisabled">
    Poprzednia
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn buttonLogin text-white @nextDisabled">
    Następna
</a>