@model IEnumerable<E_Muzyka.ModelDTO.TrackDTO>

    <head>
        <link rel="stylesheet" href="~/css/customStyle.css" />
    </head>

    <table class="table">
        <thead class="tableColor text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Album.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album.Title)
                    </td>
                    <td>
                        <a class="btn buttonDetails text-white" asp-controller="Tracks" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>